
#pomodoro-app {
    width: 20rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set-btns {
    display: flex;
    gap: 0.5rem;
}





.pomodoro-timer {
    padding: 2rem 2rem;
    font-size: 4rem;
    font-weight: bold;
    display:flex;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#minutes {
    border: 0;
    width: 5rem;
    outline: none
}

#minutes:active{
    border: none;
    outline: none;
}

#seconds {
    border: 0;
    width: 5rem;
    outline: none
}

#seconds:active {
    border:none;
    outline: none;
}