/* Navigation bar */
.navbar-nav {
    display:flex;
    margin: 0 auto;
}


/* Welcome Page */
.welcome {
    margin: 5rem auto;
    width: 25rem;
    text-align: center;
}

.enter-btns {
    margin: 2rem auto;
    display:flex;
    justify-content: center;
    gap: 1rem;
}


/* Register */
.register-form{
    width: 20rem;
    margin: 5rem auto;
}

.cancel-button {
    margin-top: 2rem;
}





/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    height: 2rem;
    font-size: 0.500rem;
    display: flex;
    justify-content: center;
    align-items: center;;
}



