{% extends "layout.html" %}


{% block title %}
    Pomodoro
{% endblock %}

{% block main%}
<div id="pomodoro-app">
    <div class="set-btns">
        <button id="set_pomodoro">Pomodoro</button>
        <button id="set_short_break">Short Break</button>
        <button id="set_long_break">Long Break</button>
    </div>
    <div class="pomodoro-timer">
        <input type="number" id="minutes" min="00" max="25" value="00"readonly ><P>:</P>
        <input type="number" id="seconds" min="00" max="59" value="03"readonly >
    </div>
    <div class="set-btns">
        <div class="pomodoro-start">
            <button id="start">Start</button>
        </div>
        <div class="pomodoro-start">
            <button id="pause">Pause</button>
        </div>
        <div class="pomodoro-reset">
            <button id="reset">Reset</button>
        </div>
    </div>
</div>





<script src="{{ url_for('static', filename='pomodoro.js') }}"></script> 
{% endblock %}

