{% extends "layout.html" %}


{% block title %}
    Pomodoro
{% endblock %}

{% block main%}
<div class="pomodoro-app">
    <div class="set-btns">
        <button class="set_pomodoro">Pomodoro</button>
        <button class="set_short_break">Short Break</button>
        <button class="set_long_break">Long Break</button>
    </div>
    <div class="pomodoro-timer">
        <p class="minutes">25</p><P>:</P><p class="seconds">00</p>
    </div>
    <div class="function-btns">
        <div class="pomodoro-start">
            <button class="start">Start</button>
        </div>
        <div class="pomodoro-start">
            <button class="pause">Pause</button>
        </div>
        <div class="pomodoro-reset">
            <button class="reset">Reset</button>
        </div>
    </div>


</div>




{% endblock %}

