{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main%}
    <div class = "welcome">
        <h1>Welcome to Timoro!</h1>
        <p>an app to</p>
        <p>improve and overview</p>
        <p>your productivity.</p>
        <div class = "enter-btns ">
            <form method="get" action="/login">
                <button class="btn btn-primary btn-lg enter-btn btn-dark">Login</button>
            </form>
            <form method="get" action="/register">
                <button class="btn btn-primary btn-lg enter-btn btn-dark">Register</button>
            </form>
        </div>
    </div>



{% endblock %}

